* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
/*colors used in this website*/
:root {
  --headerNavMainBg: #66b3e9;
  --navBottomBorder: #1dc093;
  --btnSignUp: linear-gradient(130deg, #ffa634, #ff435b);
  --heading: #242424;
  --dietPlanBg: #fafaf5;
  --btnQuiz: linear-gradient(130deg, hsl(152, 58%, 53%), #00b698);
  --footerLiHover: #3caae6;
}
/*contain nav, logo*/
header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(7deg, #66B3EA, #6D7BE7);
}
/*nav styling*/
nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*nav ul styling*/
nav ul {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*nav li*/
nav li {
  height: 25px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
}
/*nav li mouse hover styling*/
nav li:hover {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  border-bottom: 2px solid var(--navBottomBorder);
}
/*left section of nav*/
.leftNav {
  width: 500px;
}
/*right section of nav*/
.rightNav {
  width: 350px;
}
/*nav select styling*/
nav select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*nav select mouse hover styling*/
nav select:hover {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*nav option styling*/
nav option {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  background-color: white;
  color: black;
}
/*nav button styling*/
nav button {
  height: 35px;
  width: 120px;
  border: 2px solid var(--navBottomBorder);
  border-radius: 1px solid 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
}
/*nav button mouse hover styling*/
nav button:hover {
  height: 35px;
  width: 120px;
  border: 2px solid var(--navBottomBorder);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  text-transform: uppercase;
  background-color: var(--navBottomBorder);
  color: white;
  box-shadow: 2px 2px gray;
}
/*section styling*/
section {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(150deg, #66B3EA, #6D7BE7);
}
/*content styling*/
.content {
  height: 395px;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.content h1 {
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
}
section img {
  margin-top: 6em;
  height: 550px;
  width: 350px;
}
.content p {
  font-size: 34px;
  line-height: 43px;
  font-weight: 400;
}
.content .btnRow {
  height: 60px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.btnRow .btnReadMore {
  width: 182px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}
.btnRow .btnReadMore:hover {
  width: 182px;
  background-color: white;
  color: var(--headerNavMainBg);
  border: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
}
.btnRow .btnSignUp {
  width: 182px;
  background-image: var(--btnSignUp);
  color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 3px;
  cursor: pointer;
  outline: none;
  border: none;
}
section .rating {
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
}
.rating p {
  font-size: 34px;
  line-height: 43px;
  font-weight: 400;
  color: white;
}
.rating .ratingApple {
  height: 70px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ratingApple img {
  height: 200px;
  width: 450px;
}
.about {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  font-size: 55px;
  line-height: 61px;
  font-weight: 700;
  color: var(--heading);
  margin-top: 1em;
  margin-bottom: 1em;
}
.about .aboutRow {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4em;
}
.about .aboutCol {
  height: 435px;
  width: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutCol img {
  height: 150px;
  width: 230px;
}
.aboutCol h3 {
  text-align: center;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: var(--heading);
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.aboutCol p {
  text-align: center;
  font-size: 23px;
  line-height: 33px;
  font-weight: 400;
  color: var(--heading);
}
.dietPlan {
  height: 280px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dietPlanBg);
  border-radius: 10px;
}
.mainDiv {
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}
.contentBtn {
  height: 250px;
  width: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentBtn h1 {
  font-size: 47px;
  line-height: 52px;
  color: var(--heading);
  font-weight: 700;
}
.contentBtn button {
  height: 60px;
  width: 245px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  cursor: pointer;
  background-image: var(--btnQuiz);
  letter-spacing: 1px;
}
.testimonial {
  margin-top:3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dietPlanBg);
}
.testimonial .certificate{
  margin-top: 2em;
  height: 150px;
  width: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.certificate img{
  height: 113px;
  width: 181px;
}
.testimonial .review{
  margin-top:2em;
  margin-bottom: 2em;
  height: 128px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.review .reviewText{
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100px;
  width: 350px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--heading);
}
.star{
  display: flex;
  justify-content: center;
}
.reviewImg{
  height: 590px;
  width: 654px;
  background-image: url("images/nike-small.4be9368a.jpg");
  border-radius: 20px;
}
.reviewImg .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28em;
  color: white;
}
.text h1{
  font-size: 23px;
  font-weight: 700;
  line-height: 33px;
}
.text p{
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
.signUp{
  margin-top:2em;
  margin-bottom: 2em;
  height: 650px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signUp h1{
  text-align: center;
  font-size: 47px;
  line-height: 52px;
  font-weight: 700;
  color: var(--heading);
}
.signUp button{
  margin-top:2em;
  margin-bottom: 2em;
  height: 60px;
  width: 330px;
  background-image: var(--btnSignUp);
  text-transform: uppercase;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 3px;
}
.signUp p{
  font-size: 18px;
  font-weight: 23px;
  font-weight: 400;
  color: var(--heading);
}
.strike{
  font-size: 27px;
  line-height: 37px;
  color: var(--heading);
  font-weight: 600;
  text-decoration: line-through;
  font-weight: var(--heading);
}
.green{
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: var(--navBottomBorder);
}
.signUp img{
  height: 350px;
  width: 400px;
}
footer{
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
footer .content{
  display: flex;
  align-items: center;
  width: 80%;
}
footer .linksCol{
  width: 78%;
}
footer ul{
  margin-top: 2em;
}
ul .heading{
  font-size: 17px;
  line-height: 19px;
  color: #363636;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
footer li{
  list-style-type: none;
  margin-bottom: 0.3em;
  color: var(--heading);
}
.margin{
  margin-top:3.5em;
}
footer li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--heading);
}
footer li a:hover{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  color: var(--footerLiHover);
}
li .p{
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
.tosterGif{
  height: 78px;
  width: 50px;
}
.playStore{
  height: 45px;
  width: 140px;
}